<!--
  Generated template for the StatusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>StatusPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button (click)="this.navCtrl.setRoot('HomePage')">돌아가기</button>

<p> 현황페이지</p>

<h3>내주문</h3>

  <ion-list>
    <ion-item-sliding *ngFor="let order of orderList | async">
      <ion-item item-left>
        <h3>{{order.name}}</h3>
        <h3>{{ order.content | json }}</h3>
        <p>{{ order.location.address | json}}</p>
      </ion-item>
    </ion-item-sliding>>
  </ion-list>

<h3>내입찰</h3>
 <ion-list>
    <ion-item-sliding *ngFor="let bid of bidList | async">
      <ion-item item-left>
        <h3>{{bid.price}}</h3>
        <h3>{{ bid.uid}}</h3>
      </ion-item>
    </ion-item-sliding>>
  </ion-list>




<button (click)="logout()">logout</button>

</ion-content>
 